[submodule "packages/sequential-fetch"]
	path = packages/sequential-fetch
	url = https://github.com/AnEntrypoint/sequential-fetch.git
[submodule "packages/sequential-flow"]
	path = packages/sequential-flow
	url = https://github.com/AnEntrypoint/sequential-flow.git
[submodule "packages/sequential-runner"]
	path = packages/sequential-runner
	url = https://github.com/AnEntrypoint/sequential-runner.git
[submodule "packages/sdk-http-wrapper"]
	path = packages/sdk-http-wrapper
	url = https://github.com/AnEntrypoint/sdk-http-wrapper.git
[submodule "packages/sequential-adaptor"]
	path = packages/sequential-adaptor
	url = https://github.com/AnEntrypoint/sequential-adaptor.git
[submodule "packages/sequential-adaptor-supabase"]
	path = packages/sequential-adaptor-supabase
	url = https://github.com/AnEntrypoint/sequential-adaptor-supabase.git
[submodule "packages/sequential-adaptor-sqlite"]
	path = packages/sequential-adaptor-sqlite
	url = https://github.com/AnEntrypoint/sequential-adaptor-sqlite.git
[submodule "packages/sequential-wrapped-services"]
	path = packages/sequential-wrapped-services
	url = https://github.com/AnEntrypoint/sequential-wrapped-services.git
	branch = main
[submodule "packages/admin-gui"]
	path = packages/admin-gui
	url = https://github.com/AnEntrypoint/admin-gui.git
[submodule "packages/sequential-http-utils"]
	path = packages/sequential-http-utils
	url = https://github.com/AnEntrypoint/sequential-http-utils.git
[submodule "packages/sequential-logging"]
	path = packages/sequential-logging
	url = https://github.com/AnEntrypoint/sequential-logging.git
[submodule "packages/sequential-storage-utils"]
	path = packages/sequential-storage-utils
	url = https://github.com/AnEntrypoint/sequential-storage-utils.git
[submodule "packages/sequential-utils"]
	path = packages/sequential-utils
	url = https://github.com/AnEntrypoint/sequential-utils.git
[submodule "packages/sequential-validators"]
	path = packages/sequential-validators
	url = https://github.com/AnEntrypoint/sequential-validators.git
