[submodule "packages/sequential-fetch"]
	path = packages/sequential-fetch
	url = https://github.com/AnEntrypoint/sequential-fetch.git
[submodule "packages/sequential-flow"]
	path = packages/sequential-flow
	url = https://github.com/AnEntrypoint/sequential-flow.git
[submodule "packages/tasker-sequential"]
	path = packages/tasker-sequential
	url = https://github.com/AnEntrypoint/tasker-sequential.git
[submodule "packages/sdk-http-wrapper"]
	path = packages/sdk-http-wrapper
	url = https://github.com/AnEntrypoint/sdk-http-wrapper.git
[submodule "packages/tasker-adaptor"]
	path = packages/tasker-adaptor
	url = https://github.com/AnEntrypoint/tasker-adaptor.git
[submodule "packages/tasker-adaptor-supabase"]
	path = packages/tasker-adaptor-supabase
	url = https://github.com/AnEntrypoint/tasker-adaptor-supabase.git
[submodule "packages/tasker-adaptor-sqlite"]
	path = packages/tasker-adaptor-sqlite
	url = https://github.com/AnEntrypoint/tasker-adaptor-sqlite.git
[submodule "packages/tasker-wrapped-services"]
	path = packages/tasker-wrapped-services
	url = https://github.com/AnEntrypoint/tasker-wrapped-services.git
	branch = main
